@model EShop_Gp.ViewModel.PopUp

@{
    ViewBag.Title = "My Cart";
}

@{
    int row = 1;
}


<div id="CartTable">
    @if (Model.carts != null)
    {
        <h1 class="fst-italic text-lg-right">عربة التسوق</h1>
        <hr />
        @foreach (var item in Model.carts)
        {
            <h1 class="text-lg-left">السعر : @item.Items.Price</h1>

            <div class="row" id="@row" data-rowid="@row">
                <div class="col-lg-10 text-lg-right">
                    <h4>@item.Items.NameAr</h4>
                    <p>مؤهل للحصول على شحن مجاني</p>
                </div>
                <a><img onclick="DeleteDiscarding(@item.Items.Id)" class="svg-icon" src="~/Image/018-delete.svg" title="delete" style="width: 6%;" /> </a>
                <div class="col-lg-2 text-lg-right">
                    <img class="pic-1" src="@Url.Content(item.Items.Image)" style="width:100px">
                </div>
            </div>
            <hr />
        }
    }
    else
    {
        <h1 class="fst-italic text-lg-right">العربة فارغة</h1>
    }


</div>


<script>
    function DeleteDiscarding(id) {
         debugger;
             $.ajax({
                 url: '@Url.Action("DeleteDiscarding", "Cart")',
                 data: { Id: id },
                 contentType: 'application/json; charset=utf-8',
                 success: function (data) {
                     debugger;
                     $("#CartTable").html('');
                     $("#CartTable").html(data);
                 },
                 error: function (XMLHttpRequest, textStatus, errorThrown) { }
             });
       };

</script>