@model List<EShop_Gp.ViewModel.StatusOrderViewModel>

@{
    ViewBag.Title = "My Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model != null)
{
    <div class="container-fluid padding">
        <div class="row padding">
            @foreach (var item in Model)
            {
                <div class="col-md-3 col-sm-6">
                    <div class="product-grid3">
                        <div class="product-image3">
                            <img class="card-title" style="width: 100%;" src="@Url.Content(item.Image)" alt="...">
                            <h4 class="card-title"><b>@item.NameAr</b></h4>
                            @*<h4 class="card-title"><b>@item.NameEn</b></h4>*@
                            <p class="card-text">@item.Price</p>
                            <p class="card-text">@item.OrderTimeOfReceipt</p>

                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}
else
{
    <div class="container ">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="caption" style="text-align:center">
                                <h1 class="fst-italic text-lg-center">لا توجد اي طلبات معلقة</h1>
                                <hr />
                                <i><a style="background-color: #ffe450; color: #000000;" href="~/Home/Index" class="btn btn-light">اذهب للتسوق</a></i>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

}