@model EShop_Gp.Models.Items

@{
    ViewBag.Title = "Detials Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NameAr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NameAr)
        </dd>
        <dd>
            <img style="height:200px; width:200px;" src="@Url.Content(Model.Image)" alt="Sample Image" />
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

    </dl>
</div>
<p>
    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="location.href='@Url.Action("Update", "Admin", new { id = Model.Id })'">Update</button> |
    <button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Action("DeleteItemByAdmin", "Admin", new { id = Model.Id })'">Delete</button>
</p>
