@model EShop_Gp.ViewModel.ItemsList

@{
    ViewBag.Title = "Supplier Requests";
}

<div class="container-fluid padding" id="RequestTablez">
    <div class="row padding">
        @foreach (var item in Model.Items)
        {
            <div class="col-md-3 col-sm-6">
                <div class="product-grid3">
                    <div class="product-image3">
                        <a href="#"></a>
                        <img style="width: 100%;" src="@Url.Content(item.Image)" alt="...">
                        <h4 class="card-title"><b>@item.NameEn</b></h4>
                        <p class="card-text">@item.Price</p>

                        <input type="button" class="btn btn-primary btn-sm " onclick="Save(@item.Id,'@item.NameAr',@item.PriceCost)" value="Save" />
                        <input type="button" class="btn btn-primary btn-sm " onclick="Delete(@item.Id,'@item.NameAr',@item.PriceCost)" value="Delete" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script>
    function Save(Id, NameAr, PriceCost) {
        debugger;
        var Items = {
            Id: Id,
            NameAr: NameAr,
            PriceCost: PriceCost,
        }
        $.ajax({
            url: '@Url.Action("SaveRequest", "Admin")',
            data: {
                Items: Items,
            },
            type: 'post',
            success: function (data) {
                debugger;
                $("#RequestTablez").html("");
                $("#RequestTablez").html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { }
        });
    }
    function Delete(Id, NameAr, PriceCost) {
        debugger;
        var Items = {
            Id: Id,
            NameAr: NameAr,
            PriceCost: PriceCost,
        }
        $.ajax({
            url: '@Url.Action("DeleteRequest", "Admin")',
            data: {
                Id: Id,
                Items: Items,
            },
            type: 'post',
            success: function (data) {
                debugger;
                $("#RequestTablez").html("");
                $("#RequestTablez").html(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) { }
        });
    }
</script>