@model EShop_Gp.ViewModel.PopUp

<div class="bd-example3">
    <div class="col-lg-9">
        <h1 class="fst-italic text-success text-lg-right">يوم التوصيل : @Model.DayOfReceipt</h1>
        <hr />
        @foreach (var item in Model.carts)
        {
            <h1 class="text-lg-left">السعر : @item.Items.Price</h1>

            <div class="row">
                <div class="col-lg-10 text-lg-right">
                    <h4>@item.Items.NameAr</h4>
                    <p>مؤهل للحصول على شحن مجاني</p>
                </div>

                <div class="col-lg-2 text-lg-right">
                    <img class="pic-1" src="@Url.Content(item.Items.Image)" style="width:100px">
                </div>
            </div>
            <hr />
        }
    </div>

</div>
<div class="bd-example3">
    <div class="p-4 bg-light">
        <h1 class="mb-0">
            المجموع الكلي : @Model.SumPrice
        </h1>
        <div class="col-xs-12 col-md-12">
            <button onclick="ConfirmOrder(@Model.CartIds)" class="subscribe btn btn-success btn-lg btn-block my-3" type="button" style="text-align:center">تأكيد طلبك</button>
        </div>
    </div>
</div>

<script>
    function ConfirmOrder(CartIds) {
        $.ajax({
            type: 'POST',
            url: '@Url.Action("ConfirmOrder", "Payed")',
            data: CartIds,
            dataType: 'json',
            success: function (data) {
                debugger;
                if (data == "Done") {
                    $.ajax({
                        url: '@Url.Action("Index", "Home")',
                        type: 'get',
                        data: {},
                        success: function (data) {
                            debugger;
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                        debugger;
                        }
                    });
                }
                else {
                    toastr.message('برجاء مراجعة مستويات الصلاحية', 'error', 3000);
                }
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                debugger;
            }
        });

    }
</script>