<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - EShop_Gp</title>
    <link rel="icon" href="~/Image/240_F_141407683_AmOuBtIH59zvyi1T9t0ZqZaMyYL0YGFY.jpg" />
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/all.min.css" rel="stylesheet" />
    <link href="~/css/slick.css" rel="stylesheet" />
    <link href="~/css/slick-theme.css" rel="stylesheet" />
    <link href="~/css/toast.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/styleWall.css" rel="stylesheet" />
    <script src="~/js/jquery-3.4.1.min.js"></script>
    <script src="~/js/checkout.js"></script>
    <script src="~/js/toast.min.js"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img src="~/Image/logo1.png" width="80" draggable="false" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
   
                    <form asp-controller="Home" asp-action="Search">
                        <input class="form-control" type="text" name="SearchString" placeholder="Search" />
                    </form>
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark Home" asp-area="" asp-controller="Home" asp-action="Index" id="Home">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#212529">Products</a>
                            <ul class="dropdown-menu multi-level">


                                <li class="dropdown-submenu dropdown">
                                    <a class="dropdown-item" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#ee086b">Electronics</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown2-1" >
                                        <li class="dropdown-item" style="color:#090d83" onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Tvs"})'">TVs</li>
                                        <li class="dropdown-item" style="color:#090d83" onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Laptops"})'">Laps</li>

                                    </ul>
                                </li>
                                <li class="dropdown-submenu dropdown">
                                    <a class="dropdown-item" id="dropdown2-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:#ee086b">Household_Appliance</a>
                                    <ul class="dropdown-menu" aria-labelledby="dropdown2-1" >
                                        <li class="dropdown-item" style="color:#090d83" onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "refrigerators"})'">Refrigerators</li>
                                        <li class="dropdown-item" style="color:#090d83" onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "washing machines"})'">Washing Machines</li>
                                        <li class="dropdown-item" style="color:#090d83" onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Cookers"})'">Cookers</li>
                                        <li class="dropdown-item" style="color:#090d83" onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "heaters"})'">Heaters</li>
                                    </ul>
                                </li>
                                <li class="dropdown-item" style="color:#ee086b" onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Phones"})'">Mobile devices</li>
                                <li class="dropdown-item" style="color:#ee086b"  onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Accessories"})'">Accessories </li>
                            </ul>
                        </li>
                
                        <li class="nav-item">
                            <a class="nav-link text-dark" href="~/Cart/_StatusOrder"  >Account_Balance</a>
                        </li>
                   
                        <li class="nav-item">
                            <a class="nav-link" href="~/Cart/Index">
                                <i class="fa-solid fa-cart-shopping"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3 mainL">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted" style="color:#ffd800">
        <div class="container" style="color:#dbd4d4">
            <div class="row">
                <div class="col-md-3" style="margin-left: 0px; text-align: left;">
                    <h3>Contact</h3>
                    <h5>About us</h5>
                    <h5>HotLine: 12345</h5>
                    <h5>email@shopmail.com</h5>
                </div>

                <div class="col col-3">
                    <h3>Household_App</h3>
                    <a onclick="location.href = '@Url.Action("MoreDetials", "Home" , new {NameEn = "washing machines"})'" style="color: #dbd4d4">Washing Machines</a>
                    <br />
                    <a onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "refrigerators"})'" style="color: #dbd4d4">Refrigerators&deep freezer</a>
                    <br />
                    <a onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Cookers"})'" style="color: #dbd4d4">Cookers</a>
                    <br />
                    <a onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "heaters"})'" style="color: #dbd4d4">Heaters</a>
                </div>
                <div class="col col-3">
                    <h3>Electronics</h3>
                    <a onclick="location.href = '@Url.Action("MoreDetials", "Home" , new {NameEn = "Tvs"})'" style="color: #dbd4d4">TVs</a>
                    <br />
                    <a onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Laptops"})'" style="color: #dbd4d4">Laptops</a>
                    <br />
                    <a onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Accessories"})'" style="color: #dbd4d4">Accessories</a>
                    <br />
                    <a onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Phones"})'" style="color: #dbd4d4">Phones</a>
                </div>
                <div class="col col-3">
                    <h3>Best Seller</h3>
                    <a onclick="location.href = '@Url.Action("MoreDetials", "Home" , new {NameEn = "Tvs"})'" style="color: #dbd4d4">TVs</a>
                    <br />
                    <a onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Phones"})'" style="color: #dbd4d4">Phones</a>
                    <br />
                    <a onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Accessories"})'" style="color: #dbd4d4">Accessories</a>
                    <br />
                    <a onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Laptops"})'" style="color: #dbd4d4">Laptops</a>
                    <br />
                    <a onclick="location.href='@Url.Action("MoreDetials", "Home" , new {NameEn = "Cookers"})'" style="color: #dbd4d4">Cookers</a>
                </div>
            </div>
            <div class="row">
                <div class="footer-col-2 col col-12" style="text-align:center !important">
                    <img src="~/Image/logo.png" width="50" />
                    <p style="color: #dbd4d4">
                        Our Purpose Is To Sustainably Make the Pleasure and Benefits
                        of Sports Accessible to the Many.
                    </p>
                    <p class="copyright" style="color:#dbd4d4">Copyright 2020 - Easy Tutorials</p>
                    <hr />
                </div>
            </div>

            &copy; 2022 - EShop_Gp -Privacy
        </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/slick.min.js"></script>
    <script src="~/js/custom.js"></script>
    <script>
    function Search(event ) {

        debugger;
         @*$.ajax({
            url: '@Url.Action("Search", "Home")',
            type: 'get',
            data: {
            },
            success: function (data) {
                debugger;
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                debugger;
            }
        });*@

    }
    </script>
</body>
</html>

